@import "../../App.scss";

.header {
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: inter;
}

.heading {
  font-weight: 700;
  width: 180px;
  text-align: left;
}

.left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 304px;
}

.contactBox {
  display: flex;
  & > a {
    margin-right: 20px;
    width: 60px;
    height: 60px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.phone {
  font-weight: 600;
  font-size: 20px;
}
