.phoneBox {
  background: rgba(178, 235, 242, 0.25);
  margin-bottom: 20px;
  width: 586px;
  height: 75px;
  border-radius: 37px;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.35);
  padding-left: 40px;
  display: flex;
  align-items: center;
}
.phoneBox > input {
  color: rgba(0, 0, 0, 0.8);
  margin-left: 10px;
  font-size: 22px;
  height: 100%;
  border: none;
  background: transparent;
}

.main {
  width: 675px;
  border-radius: 30px;
  background: white;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 47px 69px 48px;
}
.main > h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 4px;
}
.main > input {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.8);
  border: none;
  background: rgba(178, 235, 242, 0.25);
  margin-bottom: 20px;
  width: 586px;
  height: 75px;
  border-radius: 37px;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.35);
  padding: 0 56px;
}
.main > input > input:last-child {
  margin-bottom: 40px;
}
.main > input > input::-moz-placeholder {
  padding-left: 5px;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  color: #757575;
}
.main > input > input::placeholder {
  padding-left: 5px;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  color: #757575;
}

.filesBox {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.8);
  border: none;
  background: rgba(178, 235, 242, 0.25);
  margin-bottom: 20px;
  width: 586px;
  height: 75px;
  border-radius: 37px;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.35);
  padding: 0 56px;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  color: #757575;
}
.filesBox > input:last-child {
  margin-bottom: 40px;
}
.filesBox > input::-moz-placeholder {
  padding-left: 5px;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  color: #757575;
}
.filesBox > input::placeholder {
  padding-left: 5px;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  color: #757575;
}
.filesBox > label {
  display: flex;
  align-items: center;
  right: 69px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  cursor: pointer;
}

.fileNamesBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding-top: 15px;
}
.fileNamesBox > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.fileNamesBox > div > img {
  cursor: pointer;
  height: 30px;
  filter: invert(84%) sepia(11%) saturate(0%) hue-rotate(174deg) brightness(90%) contrast(87%);
}
.fileNamesBox::-webkit-scrollbar {
  display: none;
}
.fileNamesBox::-webkit-scrollbar-track {
  display: none;
}
.fileNamesBox::-webkit-scrollbar-thumb {
  display: none;
}

.file {
  padding-right: 100px;
}

.fileName {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.8);
  flex-shrink: 0;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 30px;
  margin-bottom: 8px;
}

.fieldName {
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
  width: 100%;
  margin-bottom: 10px;
}
.fieldName > span {
  color: #ff5722;
}

.subtext {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #757575;
}
.subtext:first-of-type {
  margin-bottom: 31px;
}
.subtext:last-of-type {
  width: 380px;
  text-align: center;
  margin-bottom: 37px;
}

.main {
  padding: 65px 44px 85px;
}

.subtext:first-of-type {
  text-align: center;
  max-width: 400px;
}

.fieldName {
  margin-left: 60px;
}/*# sourceMappingURL=GetConsultation.module.css.map */